@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6; /* Light gray background */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    @apply text-3xl font-bold text-blue-600;
}
